#nav_bottom {
  width: 100%;

  margin-left: auto;
  margin-right: auto;

  display: flex;
  justify-content: unset;

  /* border-radius: 11rem; */
  /* border: 1px solid teal; */

  background-color: rgb(69, 76, 83);
}
#nav_bottom > a {
  margin-left: auto;
  margin-right: auto;

  height: auto;
  width: auto;

  border-radius: 50%;

  cursor: pointer;
}
#nav_bottom > a > img {
  height: 40px;
  width: 51px;
}
