#nav {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
#nav #find {
  flex: 1;
  margin-right: 10px;

  border: 1px solid saddlebrown;
  border-radius: 11rem;
  padding: 5px;

  display: flex;

  text-decoration: none !important;
}
#nav #find p {
  width: auto;

  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;

  text-align: center;

  color: ghostwhite;
}
#nav a.sub {
  height: 38px;
  width: 36px;

  margin: auto;
  margin-left: 14px;
}
#nav a.sub img {
  height: 100%;
  width: 100%;
}
